<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1" />
	<link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
	<link rel="stylesheet" href="../css/style.css" th:href="@{/css/style.css}"/>
	<title>Section information</title>
	</head>
	<body>
		<div class="loading-pane">
			<img th:src="@{/image/simple-loading.gif}" id="image-loading" align="middle"/>
		</div>
		<nav class="navbar navbar-default navbar-fixed-top" id="navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Alice Project</a>
				</div>
				<ul class=" nav navbar-nav">
				  <li class="home"><a href="#"><span></span> Class</a></li>
				   <li class="home"><a href="/teacher"><span ></span> Teacher</a></li>
				    <li class="home"><a href="/student"><span ></span> Student</a></li>
				    <li class="home"><a href="/subject"><span ></span> Subject</a></li>
				     <li class="home"><a href="/section"><span ></span> Section</a></li>
				     <li class="home"><a href="#"><span ></span> Schedule</a></li>
				    <li class="home"><a href="/department"><span></span> Department</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">

				  <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
				</ul>
			</div>
		</nav>
			<div class="container" id="table-container">
				<h2 id="label-title"><a href="/section">Section</a></h2>
				<div class="row">
					<div class="col-md-9">
						<button type="button" class="btn" id="btn-add-section" data-toggle="modal" data-target="#add-section-modal">
							<span class="glyphicon glyphicon-plus"></span> Add Section
						</button>
					</div>
					<div class="col-md-3">
						<form class="form-inline">
							<div class="form-group">
								<label class="sr-only" for="exampleInputAmount">Section</label>
								<div class="input-group">
									<input type="text" class="form-control" id="section-query" placeholder="Section id, name" />
									<div class="input-group-addon" id="btn-search"><span class="glyphicon glyphicon-search"></span></div>
								</div>
							  </div>
						</form>
					</div>
				</div>
				<br />
				<br />
				<div id="table-cus">
					<table class="table">
						<thead>
						  <tr class="">
							<th>ID</th>
							<th>Name</th>
							<th>Department</th>
					
						  </tr>
						</thead>
						<tbody>
							<tr  th:each="section, iterStat : ${sectionList}" th:class="${iterStat.even} ? 'active' : 'default'">
								<td th:text="${section.id}" />
								<td th:text="${section.name}" />
								<td th:text="(${section.department} != null ? ${section.department.name} : 'none')" />
								<td>
									<button type="button" class="btn btn-default" data-toggle="modal" th:attr="data-target='#update-section-modal-' + ${section.id}">
										<span class="glyphicon glyphicon-pencil"></span> Update
									</button>
									<button th:value="${section.id}" type="submit" class="btn btn-default" id="btn-delete"> 
										<span class="glyphicon glyphicon-remove"></span> Delete
									</button>
								</td>
								<td>
									<!-- Modal -->
									<div class="modal fade" th:id="'update-section-modal-' + ${section.id}" role="dialog">
										<div class="modal-dialog">
											<!-- Modal content-->
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">Update a Section</h4>
												</div>
												<div class="modal-body">
													<form action="/section/update" method="post" class="form-update-section">
														<input type="hidden" name="id" th:value="${section.id}" />
														<div class="form-group">
															<label for="name">Name:</label>
															<input name="name" type="text" class="form-control" id="name" placeholder="Section name" th:value="${section.name}" />
														</div>
														<div class="form-group">
															<label>Department</label>
															<div>
																<select class="form-control" name="departmentId">
																	<option value="0">None</option>
																	<option th:each="department, iterStat : ${departmentList}" 
																		th:selected="${section.department} != null ? (${section.department.id} == ${department.id} ? 'selected' : 'no') :'no'" 
																		th:value="${department.id}" th:text="${department.name}" />
																</select>
															</div>
														</div>
														<button type="submit" class="btn btn-default">Update</button>
													</form>
												</div>
												<div class="modal-footer">
												  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
				  </table>
				</div>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="add-section-modal" role="dialog">
				<div class="modal-dialog">
			
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Create a Section</h4>
						</div>
						<div class="modal-body">
							<form action="/section/add" method="post">
								<div class="form-group">
									<label for="name">Name:</label>
									<input name="name" type="text" class="form-control" id="name" />
								</div>
								<div class="form-group">
									<label>Department</label>
									<div>
										<select class="form-control" name="departmentId">
											<option value="0">None</option>
											<option th:each="department, iterStat : ${departmentList}" 
											th:value="${department.id}" th:text="${department.name}" />
										</select>
									</div>
								</div>
								<button type="submit" class="btn btn-default">Add</button>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>

	<script src="../js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script src="../js/bootstrap/bootstrap.min.js" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
	<script>
		$(document).ready(function(){
			var loading = $(".loading-pane");
			$(document).on('click', 'button[id="btn-delete"]', function() {
				var id = $(this).val();
				if (confirm('Are you sure you want to delete the section with id : ' + id)) {
					loading.show();
					$.post("/section/delete", {id : id}, function(data, status) {
						$("#table-cus").html(data);	
						loading.hide();
						hideMessage(8000);
					});	
				}
			});
			
			$('#btn-search').click(function() {
				var input = $("#section-query").val();
				if(input.trim() != "") {
					loading.show();
					$.post("/section/get", {query : input}, function(data, status) {
						$("#table-cus").html(data);
						loading.hide();
						hideMessage(8000, 2000);
					});
				}
			});
		});
		
		function hideMessage(duration) {
			setTimeout(function() {
				$('#response-message').fadeOut(2000);
			},duration);
		}
	</script>
	</body>
</html>