<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet"/>

    <!-- DataTables CSS -->
    <link th:href="@{/vendor/datatables-plugins/dataTables.bootstrap.css}" rel="stylesheet"/>

    <!-- DataTables Responsive CSS -->
    <link th:href="@{/vendor/datatables-responsive/dataTables.responsive.css}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">CSS ADMIN</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <!--<li class="dropdown">-->
            <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">-->
            <!--<i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu dropdown-alerts">-->
            <!--<li>-->
            <!--<a href="#">-->
            <!--<div>-->
            <!--<i class="fa fa-comment fa-fw"></i> New Comment-->
            <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
            <!--<a href="#">-->
            <!--<div>-->
            <!--<i class="fa fa-twitter fa-fw"></i> 3 New Followers-->
            <!--<span class="pull-right text-muted small">12 minutes ago</span>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
            <!--<a href="#">-->
            <!--<div>-->
            <!--<i class="fa fa-envelope fa-fw"></i> Message Sent-->
            <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
            <!--<a href="#">-->
            <!--<div>-->
            <!--<i class="fa fa-tasks fa-fw"></i> New Task-->
            <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
            <!--<a href="#">-->
            <!--<div>-->
            <!--<i class="fa fa-upload fa-fw"></i> Server Rebooted-->
            <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
            <!--<a class="text-center" href="#">-->
            <!--<strong>See All Alerts</strong>-->
            <!--<i class="fa fa-angle-right"></i>-->
            <!--</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--&lt;!&ndash; /.dropdown-alerts &ndash;&gt;-->
            <!--</li>-->
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <!--<li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>-->
                    <!--</li>-->
                    <!--<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <!-- side -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search..."/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="/teachers"><i class="fa fa-user fa-fw"></i> Teachers</a>
                    </li>
                    <li>
                        <a href="/students"><i class="fa fa-graduation-cap fa-fw"></i> Students</a>
                    </li>
                    <li>
                        <a href="/sections"><i class="fa fa-soccer-ball-o fa-fw"></i> Sections</a>
                    </li>
                    <li>
                        <a href="/departments"><i class="fa fa-university fa-fw"></i> Departments</a>
                    </li>
                    <li>
                        <a href="/subjects"><i class="fa fa-paper-plane fa-fw"></i> Subjects</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Student List</h1>
            </div>
            <button id="add-student" style="margin-left: 18px; margin-bottom: 10px; width: 100px;">
                <i class="fa fa-plus-circle fa-fw"></i> Add
            </button>
            <form id="form-import" action="/student-import" method="post" style="display:inline;" enctype="multipart/form-data">
                <input id="file" name="file" type="file" style="display:none;"/>
                <input name="classId" type="hidden" th:value="${param.classId[0] != null ? param.classId[0] : 0}"/>
                <input type="submit" style="display:none;" />
            </form>
            <button id="import-student" style="margin-left: 10px; margin-bottom: 10px; width: 100px;">
            <i class="fa fa-asterisk fa-fw"></i> Import
        </button>
            <button id="remove-student" style="margin-left: 10px; margin-bottom: 10px; width: 100px;">
                <i class="fa fa-trash fa-fw"></i> Remove
            </button>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Manage the students
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover"
                               id="dataTables-example">
                            <thead>
                            <tr>
                                <td>#</td>
                                <th>ID</th>
                                <th>StudentNumber</th>
                                <th>FirstName</th>
                                <th>MiddleName</th>
                                <th>LastName</th>
                                <th>Gender</th>
                                <th>Age</th>
                                <th>Section</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="student, iterStat : ${studentList}" style="cursor: pointer;"
                                class='clickable-row' href="#">
                                <td><input class="check-student" type="checkbox" th:value="${student.id}"/></td>
                                <td th:text="${student.id}"/>
                                <td th:text="${student.studentNumber}"/>
                                <td th:text="${student.firstName}"/>
                                <td th:text="${student.middleName}"/>
                                <td th:text="${student.lastName}"/>
                                <td th:text="${student.gender}"/>
                                <td th:text="${student.age}"/>
                                <td th:text="(${student.section} != null ? ${student.section.name} : 'none')"/>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="../vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../vendor/metisMenu/metisMenu.min.js"></script>

<!-- DataTables JavaScript -->
<script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../js/sb-admin-2.js"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
    /*<![CDATA[*/
    $(document).ready(function() {
        var list = [];

        function getParameterByName(name) {
            var url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        $('#dataTables-example').DataTable({
            responsive: true
        });

        $(".clickable-row").click(function() {
            window.location = $(this).attr("href");
        });

        $("#remove-student").click(function() {
            list = [];
            $(".check-student").each(function() {
                if($(this).is(':checked')) {
                    list.push($(this).val());
                }
            });
            var str = "";
            list.forEach(function(element) {
              str += element + ":";
            });
            $.post('/class/student-delete',
									{studentIds : str, classId : getParameterByName("classId")},
									function(data, status) {
                                        $("body").html(data);
									});

        });

        $("#add-student").click(function() {
            var studentId = prompt("Enter the student id", "0");
            $.post('/class/student-add',
									{studentId : studentId, classId : getParameterByName("classId")},
									function(data, status) {
                                        $("body").html(data);
									});
        });

        $("input[type='file']").change(function() {
            if($(this).val().split('.').pop() != "xlsx") {
                alert("Invalid file. Try to use file eg.('.xlsx', '.xls' or '.csv')");
                $("label[for='file']").text("Browse (or) Drop your file here");
                $(this).val("");
            }
            else {
                $("#file-label").text($(this).val().replace(/C:\\fakepath\\/i, ''));
                $("#form-import").submit();
            }
        });

        $("#import-student").click(function() {
            $("input[type='file']").trigger('click');
        });
    });
    /*]]>*/

</script>

</body>

</html>
