
<div class="alert alert-info" role="alert" xmlns:th="http://www.thymeleaf.org" id="response-message">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
  <span class="sr-only">Info:</span>
  <p id="response-message" th:text="${responseMessage}" />
</div>

<table class="table" xmlns:th="http://www.thymeleaf.org">
	<thead>
	  <tr class="">
		<th>ID</th>
		<th>StudentNumber</th>
		<th>FirstName</th>
		<th>MiddleName</th>
		<th>LastName</th>
		<th>Gender</th>
		<th>Age</th>
		<th>Section</th>

	  </tr>
	</thead>
	<tbody>
		<tr  th:each="student, iterStat : ${studentList}" th:class="${iterStat.even} ? 'active' : 'default'">
			<td th:text="${student.id}" />
			<td th:text="${student.studentNumber}" />
			<td th:text="${student.firstName}" />
			<td th:text="${student.middleName}" />
			<td th:text="${student.lastName}" />
			<td th:text="${student.gender}" />
			<td th:text="${student.age}" />
			<td th:text="(${student.section} != null ? ${student.section.name} : 'none')" />
			<td>
				<button type="button" class="btn btn-default" data-toggle="modal" th:attr="data-target='#update-student-modal-' + ${student.id}">
					<span class="glyphicon glyphicon-pencil"></span> Update
				</button>
				<button th:value="${student.id}" type="submit" class="btn btn-default" id="btn-delete"> 
					<span class="glyphicon glyphicon-remove"></span> Delete
				</button>
				<a th:href="'/student/view?id=' + ${student.id}">
					<button type="button" class="btn btn-default" id="btn-view">
							<span class="glyphicon glyphicon-zoom-in"></span> View
					</button>
				</a>
			</td>
			<td>
				<!-- Modal -->
				<div class="modal fade" th:id="'update-student-modal-' + ${student.id}" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Update a Student</h4>
							</div>
							<div class="modal-body">
								<form action="/student/update" method="post" class="form-update-student">
									<input type="hidden" name="id" th:value="${student.id}" />
									<div class="form-group">
										<label for="studentNumber">StudentNumber:</label>
										<input name="studentNumber" type="text" class="form-control" id="studentNumber" th:value="${student.studentNumber}"/>
									</div>
									<div class="form-group">
										<label for="firstName">FirstName:</label>
										<input name="firstName" type="text" class="form-control" id="firstName" th:value="${student.firstName}"/>
									</div>
									<div class="form-group">
										<label for="middleName">MiddleName:</label>
										<input name="middleName" type="text" class="form-control" id="middleName" th:value="${student.middleName}"/>
									</div>
									<div class="form-group">
										<label for="lastName">LastName:</label>
										<input name="lastName" type="text" class="form-control" id="lastName" th:value="${student.lastName}"/>
									</div>
									<div class="form-group">
										<label for="gender">Gender:</label>
										<input name="gender" type="text" class="form-control" id="gender" th:value="${student.gender}"/>
									</div>
									<div class="form-group">
										<label for="age">Age:</label>
										<input name="age" type="text" class="form-control" id="age" th:value="${student.age}"/>
									</div>
									<div class="form-group">
										<label>Section</label>
										<div>
											<select class="form-control" name="sectionId">
												<option value="0">None</option>
												<option th:each="section, iterStat : ${sectionList}" 
												th:selected="${student.section} != null ? (${student.section.id} == ${section.id} ? 'selected' : 'no') :'no'" 
												th:value="${section.id}" th:text="${section.name}" />
											</select>
										</div>
									</div>
									<button type="submit" class="btn btn-default">Update</button>
								</form>
							</div>
							<div class="modal-footer">
							  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</td>
		</tr>
	</tbody>
 </table>