<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <th:block th:include="fragment/head :: head"/>
    <link rel="stylesheet" href="../css/teacher-display.css" th:href="@{/css/teacher-display.css}"/>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet"/>

    <!-- DataTables CSS -->
    <link th:href="@{/vendor/datatables-plugins/dataTables.bootstrap.css}" rel="stylesheet"/>

    <!-- DataTables Responsive CSS -->
    <link th:href="@{/vendor/datatables-responsive/dataTables.responsive.css}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">CSS ADMIN</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <!--<li class="dropdown">-->
            <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">-->
            <!--<i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu dropdown-alerts">-->
            <!--<li>-->
            <!--<a href="#">-->
            <!--<div>-->
            <!--<i class="fa fa-comment fa-fw"></i> New Comment-->
            <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
            <!--<a href="#">-->
            <!--<div>-->
            <!--<i class="fa fa-twitter fa-fw"></i> 3 New Followers-->
            <!--<span class="pull-right text-muted small">12 minutes ago</span>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
            <!--<a href="#">-->
            <!--<div>-->
            <!--<i class="fa fa-envelope fa-fw"></i> Message Sent-->
            <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
            <!--<a href="#">-->
            <!--<div>-->
            <!--<i class="fa fa-tasks fa-fw"></i> New Task-->
            <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
            <!--<a href="#">-->
            <!--<div>-->
            <!--<i class="fa fa-upload fa-fw"></i> Server Rebooted-->
            <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="divider"></li>-->
            <!--<li>-->
            <!--<a class="text-center" href="#">-->
            <!--<strong>See All Alerts</strong>-->
            <!--<i class="fa fa-angle-right"></i>-->
            <!--</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--&lt;!&ndash; /.dropdown-alerts &ndash;&gt;-->
            <!--</li>-->
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <!--<li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>-->
                    <!--</li>-->
                    <!--<li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <!-- side -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search..."/>
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="/teachers"><i class="fa fa-user fa-fw"></i> Teachers</a>
                    </li>
                    <li>
                        <a href="/students"><i class="fa fa-graduation-cap fa-fw"></i> Students</a>
                    </li>
                    <li>
                        <a href="/sections"><i class="fa fa-soccer-ball-o fa-fw"></i> Sections</a>
                    </li>
                    <li>
                        <a href="/departments"><i class="fa fa-university fa-fw"></i> Departments</a>
                    </li>
                    <li>
                        <a href="/subjects"><i class="fa fa-paper-plane fa-fw"></i> Subjects</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-pane fade active in" id="add-class">
                    <h4>All inputs are required.</h4>
                    <div style="float:left;width:400px;position:relative;margin-left:20px;margin-top:5px;">
                        <form method="post" action="/class/add" enctype="multipart/form-data">
                            <input type="hidden" name="teacherId" th:value="${teacher.id}"/>
                            <input type="hidden" name="scheduleId"/>
                            <div class="form-group" style="width:300px">
                                <label>Subject</label>
                                <div class="selecter  cover closed" tabindex="0">
                                    <div class="selecter  closed" tabindex="0" id="subject-list">
                                        <input type="hidden" name="subjectId"/>
                                        <span class="selecter-selected placeholder"
                                              th:text="${allSubject[0].name}"></span>
                                        <div class="selecter-options"
                                             style="display:none; position:absolute;z-index:3;">
                                            <span id="subject-item" th:each="subject, iterStat : ${allSubject}"
                                                  class="selecter-item" th:attr="data-value=${subject.id}"
                                                  th:text="${subject.name}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="width:300px;">
                                <label>Section</label>
                                <div class="selecter  cover closed" tabindex="0" style="position:relative;z-index:0;">
                                    <div class="selecter  closed" tabindex="0" id="section-list">
                                        <input type="hidden" name="sectionId"/>
                                        <span class="selecter-selected placeholder"
                                              th:text="${sectionList[0].name}"></span>
                                        <div class="selecter-options"
                                             style="display:none; position:absolute;z-index:2;">
                                            <span id="section-item" th:each="section, iterStat : ${sectionList}"
                                                  class="selecter-item" th:attr="data-value=${section.id}"
                                                  th:text="${section.name}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" style="display:none;">
                                <input id="file" name="file" type="file"/>
                            </div>
                            <div class="form-group" style="width:300px;">
                                <button type="submit" class="btn btn-warning" style="float:left">Save</button>
                            </div>
                        </form>
                    </div>
                    <label for="parent-file-label">Import student</label>
                    <div id="parent-file-label">
                        <label for="file" id="file-label">
                            Browse (or) Drop your file here
                        </label>
                    </div>
                    <!--<div class="form-group" style="width:625px;float:left;margin-top:30px;position:relative;">-->
                    <!--<label for="button-add-schedule" style="cursor:pointer;">-->
                    <!--Schedule <span class="glyphicon glyphicon-plus"></span>-->
                    <!--</label>-->
                    <!--<br />-->
                    <!--<div style="border: 3px dotted #ecf0f1; padding: 5px;" id="schedule-parent"><button class="btn btn-default">None</button></div>-->
                    <!--<button id="button-add-schedule" data-toggle="modal" data-target="#scheduleDialog" style="display:none">Add Schedule</button>-->
                    <!--</div>								-->
                    <div class="form-group" style="width:625px;float:left;margin-top:30px;position:relative;">
                        <label for="button-add-schedule" style="cursor:pointer;">Schedule</label>
                        <br/>
                        <div style="border: 3px dotted #ecf0f1; padding: 5px;" id="schedule-parent">
                            <button class="btn btn-default" disabled="disabled">None</button>
                        </div>
                        <button id="button-add-schedule" data-toggle="modal" data-target="#scheduleDialog"
                                style="margin-top: 10px;">+ Add Schedule
                        </button>
                    </div>
                    <div style="margin-top:350px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- /#wrapper -->
<div id="scheduleDialog" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create a schedule</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" style="width:300px;">
                    <label for="day">Day</label>
                    <div class="selecter  cover closed" tabindex="0">
                        <div class="selecter  closed" tabindex="0" id="day-list">
                            <input type="hidden" name="day"/>
                            <span class="selecter-selected placeholder">Monday</span>
                            <div class="selecter-options" style="display: none;position:absolute;z-index:3;">
                                <span id="day-item" class="selecter-item" data-value="Monday">Monday</span>
                                <span id="day-item" class="selecter-item" data-value="Tuesday">Tuesday</span>
                                <span id="day-item" class="selecter-item" data-value="Wednesday">Wednesday</span>
                                <span id="day-item" class="selecter-item" data-value="Thursday">Thursday</span>
                                <span id="day-item" class="selecter-item" data-value="Friday">Friday</span>
                                <span id="day-item" class="selecter-item" data-value="Saturday">Saturday</span>
                                <span id="day-item" class="selecter-item" data-value="Sunday">Sunday</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-top:10px">
                        <label class="control-label" for="room">Room</label>
                        <br />
                        <select id="put">
                            <option disabled="disabled">Select a room</option>
                            <option selected="selected" value="CS 101">CS 101</option>
                            <option value="CS 102">CS 102</option>
                            <option value="CS 103">CS 103</option>
                            <option value="CS 104">CS 104</option>
                            <option value="CS 105">CS 105</option>
                            <option value="CS 201">CS 201</option>
                            <option value="CS 202">CS 202</option>
                            <option value="CS 203">CS 203</option>
                            <option value="CS 204">CS 204</option>
                            <option value="CS 205">CS 205</option>
                            <option value="CEP RM1">"CEP RM1</option>
                            <option value="CEP RM2">"CEP RM2</option>
                            <option value="CEP RM3">"CEP RM3</option>
                            <option value="CEP RM4">"CEP RM4</option>
                            <option value="CEP RM5">"CEP RM5</option>
                            <option value="CEP RM6">"CEP RM6</option>
                            <option value="CS LAB1">"CS LAB1</option>
                            <option value="CS LAB1">"CS LAB2</option>
                            <option value="CS LAB3">"CS LAB3</option>


                        </select>
                    </div>
                    <div id="room-group" class="form-group" style="margin-top:10px;display:none;">
                        <label class="control-label" for="room">Room</label>
                        <input name="room" type="text" class="form-control" id="room"/>
                    </div>
                    <div class="bootstrap-timepicker" style="margin-top:20px;">
                        <label>Time</label>
                        <div style="margin-top:5px;">
                            <div id="from-time-group" class="input-group">
                                <span class="input-group-addon">From</span>
                                <input id="fromTime" name="time" type="text" class="form-control" style="position:relative;z-index:0"/>
                                <span style="display:none"></span>
                            </div>
                        </div>
                        <div style="margin-top:10px;">
                            <div id="to-time-group" class="input-group">
                                <span class="input-group-addon">To&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <input id="toTime" name="period" type="text" class="form-control" style="position:relative;z-index:0" />
                                <span style="display:none"></span>
                            </div>
                        </div>
                    </div>
                    <button  id="button-add" class="btn btn-warning" style="margin-top:15px;">Add</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- jQuery -->
<script src="../vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../vendor/metisMenu/metisMenu.min.js"></script>

<!-- DataTables JavaScript -->
<script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../js/sb-admin-2.js"></script>
<script src="../js/bootstrap/timepicker.js" th:src="@{/js/bootstrap/timepicker.js}"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
  /*<![CDATA[*/
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });

        $(".clickable-row").click(function() {
            window.location = $(this).attr("href");
        });

        $(document).on("click", "#remove-class", function() {
            var teacherId= $("#teacher-detail-id").val();
            var classId = $(this).attr("data-value");
                if (confirm('Are you sure you want to delete the class with id : ' + classId)) {
                    $.post('/class/delete',
                            {teacherId : teacherId, classId : classId},
                            function(data, status) {
                                $("body").html(data);
                            });
                }
        });

        $(document).on('click', '#remove-teacher', function() {
            var id = $(this).attr("data-value");
            if (confirm('Are you sure you want to delete the teacher with id : ' + id)) {
                $.post("/teacher/delete", {id : id}, function(data, status) {
                    $("body").html(data);
                });
            }
        });

        $(document).on('click', '#remove-teacher', function() {
            var id = $(this).attr("data-value");
            if (confirm('Are you sure you want to delete the teacher with id : ' + id)) {
                $.post("/teacher/delete", {id : id}, function(data, status) {
                    $("body").html(data);
                });
            }
        });

        //tae tae

        //Schedule ids
				var scheduleId = ["0"];
				var isFileValid = false;

				//Set the first option as selected
				$("#subject-list .selecter-item:first").addClass("selected");
				//Set the hidden to the selected option
				$("input[name='subjectId']").val($("#subject-list .selecter-item:first").attr("data-value"));
				$("#subject-list .selecter-selected").click(function() {
					if($("#subject-list .selecter-options").css("display") == "none") {
						$("#subject-list .selecter-options").css("display","block");
					}
					else {
						$("#subject-list .selecter-options").css("display","none");
					}
				});

				$("#subject-list .selecter-item").click(function() {
					$("[id='subject-item']").removeClass("selected");
					$(this).addClass("selected");
					$("#subject-list .selecter-selected").text($(this).text());
					$("#subject-list .selecter-options").css("display","none");
					$("input[name='subjectId']").val($(this).attr("data-value"));
				});

				//
				$("#section-list .selecter-item:first").addClass("selected");
				$("input[name='sectionId']").val($("#section-list .selecter-item:first").attr("data-value"));
				$("#section-list .selecter-selected").click(function() {
					if($("#section-list .selecter-options").css("display") == "none") {
						$("#section-list .selecter-options").css("display","block");
					}
					else {
						$("#section-list .selecter-options").css("display","none");
					}
				});
				$("#section-list .selecter-item").click(function() {
					$("[id='section-item']").removeClass("selected");
					$(this).addClass("selected");
					$("#section-list .selecter-selected").text($(this).text());
					$("#section-list .selecter-options").css("display","none");
					$("input[name='sectionId']").val($(this).attr("data-value"));
				});

				//
				$("#day-list .selecter-item:first").addClass("selected");
				$("input[name='day']").val($("#day-list .selecter-item:first").attr("data-value"));
				$("#day-list .selecter-selected").click(function() {
					if($("#day-list .selecter-options").css("display") == "none") {
						$("#day-list .selecter-options").css("display","block");
					}
					else {
						$("#day-list .selecter-options").css("display","none");
					}
				});

				$("#day-list .selecter-item").click(function() {
					$("[id='day-item']").removeClass("selected");
					$(this).addClass("selected");
					$("#day-list .selecter-selected").text($(this).text());
					$("#day-list .selecter-options").css("display","none");
					$("input[name='day']").val($(this).attr("data-value"));
				});

				$("input[type='file']").change(function() {
					if($(this).val().split('.').pop() != "xlsx") {
						alert("Invalid file. Try to use file eg.('.xlsx', '.xls' or '.csv')");
						isFileValid = false;
						$("label[for='file']").text("Browse (or) Drop your file here");
						$(this).val("");
					}
					else {
						isFileValid = true;
						$("#file-label").text($(this).val().replace(/C:\\fakepath\\/i, ''));
					}
				});

				 $('#fromTime').timepicker({
					template: false,
					showInputs: false,
					minuteStep: 5
				});

				$('#toTime').timepicker({
					template: false,
					showInputs: false,
					minuteStep: 5
				});

				$("#button-add").click(function() {
					var day = $("input[name='day']").val();
					var room = $("#put").val();
					//var room = $("input[name='room']").val();
					var time = $("input[name='time']").val();
					var period = $("input[name='period']").val();

					var pttr = /^[a-zA-Z0-9_ ]+$/;
					var noError = true;

					if($("#room-group input").val().trim() == "") {
						//$("#room-group").removeClass("has-success has-feedback");
						//$("#room-group").addClass("has-error has-feedback");
						//$("#room-group label").text("Room is empty");
						//$("#room-group").children("span:last").remove();
						//$("#room-group").append('<span class="glyphicon glyphicon-remove form-control-feedback" style="position:absolute;z-index:0;"></span>');
						//noError = false;
					}else if(!pttr.test($("#room-group input").val().trim())){
						$("#room-group").removeClass("has-success has-feedback");
						$("#room-group").addClass("has-error has-feedback");
						$("#room-group label").text("Invalid room");
						$("#room-group").children("span:last").remove();
						$("#room-group").append('<span class="glyphicon glyphicon-remove form-control-feedback" style="position:absolute;z-index:0;"></span>');
						noError = false;
					}else {
						$("#room-group").removeClass("has-error has-feedback");
						$("#room-group").addClass("has-success has-feedback");
						$("#room-group label").text("Room looks great.");
						$("#room-group").children("span:last").remove();
						$("#room-group").append('<span class="glyphicon glyphicon-ok form-control-feedback" style="position:absolute;z-index:0;"></span>');
					}
					//from
					if($("#from-time-group input").val().trim() == ""){
						$("#from-time-group").removeClass("has-success has-feedback");
						$("#from-time-group").addClass("has-error has-feedback");
						$("#from-time-group").children("span:last").remove();
						$("#from-time-group").append('<span class="glyphicon glyphicon-remove form-control-feedback" style="position:absolute;z-index:0;"></span>');
						noError = false;
					}else {
						var mnt = Date.parse('01 Jan 1999 7:30 AM');
						var mxt = Date.parse('01 Jan 1999 7:30 PM');
						var tf = Date.parse('01 Jan 1999 ' + $("#from-time-group input").val().trim());

						if (tf-mnt >= 0 && mxt-tf >= 0) {
							$("#from-time-group").removeClass("has-error has-feedback");
							$("#from-time-group").addClass("has-success has-feedback");
							$("#from-time-group").children("span:last").remove();
							$("#from-time-group").append('<span class="glyphicon glyphicon-ok form-control-feedback" style="position:absolute;z-index:0;"></span>');
						}
						else {
							$("#from-time-group").removeClass("has-success has-feedback");
							$("#from-time-group").addClass("has-error has-feedback");
							$("#from-time-group").children("span:last").remove();
							$("#from-time-group").append('<span class="glyphicon glyphicon-remove form-control-feedback" style="position:absolute;z-index:0;"></span>');
							noError = false;
						}
					}
					//to

					if($("#from-time-group input").val().trim() != "" && $("#to-time-group input").val().trim() != ""){
						var tf = Date.parse('01 Jan 1999 ' + $("#from-time-group input").val().trim());
						var tt = Date.parse('01 Jan 1999 ' + $("#to-time-group input").val().trim());
						var mnt = Date.parse('01 Jan 1999 7:30 AM');
						var mxt = Date.parse('01 Jan 1999 7:30 PM');

						if(tf >= tt || mxt-tt < 0 || tt-mnt < 0) {
							$("#to-time-group").removeClass("has-success has-feedback");
							$("#to-time-group").addClass("has-error has-feedback");
							$("#to-time-group").children("span:last").remove();
							$("#to-time-group").append('<span class="glyphicon glyphicon-remove form-control-feedback" style="position:absolute;z-index:0;"></span>');
							noError = false;
						}else {
							$("#to-time-group").removeClass("has-error has-feedback");
							$("#to-time-group").addClass("has-success has-feedback");
							$("#to-time-group").children("span:last").remove();
							$("#to-time-group").append('<span class="glyphicon glyphicon-ok form-control-feedback" style="position:absolute;z-index:0;"></span>');
						}
					} else if($("#to-time-group input").val().trim() == ""){
						$("#to-time-group").removeClass("has-success has-feedback");
						$("#to-time-group").addClass("has-error has-feedback");
						$("#to-time-group").children("span:last").remove();
						$("#to-time-group").append('<span class="glyphicon glyphicon-remove form-control-feedback" style="position:absolute;z-index:0;"></span>');
						noError = false;
					}else {
						$("#to-time-group").removeClass("has-error has-feedback");
						$("#to-time-group").addClass("has-success has-feedback");
						$("#to-time-group").children("span:last").remove();
						$("#to-time-group").append('<span class="glyphicon glyphicon-ok form-control-feedback" style="position:absolute;z-index:0;"></span>');
					}

					if(noError) {
						$.post('/schedule/add',
								{day : day, room : room, time : time, period : period},
								function(data, status) {
									if(scheduleId[0] == "0") {
										$("#schedule-parent").html(data);
										scheduleId[0] = $("#schedule-parent button:last span").attr("data-value");
									}else {
										$("#schedule-parent").append(data);
										scheduleId.push($("#schedule-parent button:last span").attr("data-value"));
									}

									$("input[name='scheduleId']").val(scheduleId);
								});
								//Clear the from-time
								$("#from-time-group").removeClass("has-success has-feedback");
								$("#from-time-group").removeClass("has-success has-feedback");
								$("#from-time-group").children("span:last").remove();
								$("#from-time-group input").val("");
								$("#from-time-group").append('<span style="display:none;"></span>');
								//Clear the to-time
								$("#to-time-group").removeClass("has-success has-feedback");
								$("#to-time-group").removeClass("has-success has-feedback");
								$("#to-time-group").children("span:last").remove();
								$("#to-time-group input").val("");
								$("#to-time-group").append('<span style="display:none;"></span>');
								//Clear the room
								$("#room-group").removeClass("has-success has-feedback");
								$("#room-group").removeClass("has-success has-feedback");
								$("#room-group").children("span:last").remove();
								$("#room-group label").text("Room");
								$("#room-group input").val("");

								$('#scheduleDialog').modal('hide');


					}
					$(document).on('click','[id="button-close"]', function() {
						for(var i=0; i < scheduleId.length; i++) {
							if(scheduleId[i] == $(this).attr("data-value")){
								scheduleId.splice(i, 1);
								break;
							}
						}

						$(this).parent().remove();
						if(scheduleId.length < 1) {
							scheduleId.push("0");
							$("#schedule-parent").html("");
							$("#schedule-parent").append('<button class="btn btn-default">None</button>');
						}

						$("input[name='scheduleId']").val(scheduleId);
					});
				});

				$(document).on("click", "span[id='button-cdelete']", function() {

					var teacherId= $("#teacher-detail-id").val();
					var classId = $(this).attr("data-value");
					var loading = $(".loading-pane");
						if (confirm('Are you sure you want to delete the class with id : ' + classId)) {
							loading.show();
							$.post('/class/delete',
									{teacherId : teacherId, classId : classId},
									function(data, status) {
										$("#class-table").html(data);
										loading.hide();
									});
						}
				});
    });
    /*]]>*/


</script>

</body>

</html>
