<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1" />
		<title>CCS Class Manager</title>
	</head>
	<body>
		<footer>
			<!-- Bootstrap -->
	        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
	        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	
	        <!-- Bootflat's JS files.-->
	        <script src="https://bootflat.github.io/bootflat/js/icheck.min.js"></script>
	        <script src="https://bootflat.github.io/bootflat/js/jquery.fs.selecter.min.js"></script>
	        <script src="https://bootflat.github.io/bootflat/js/jquery.fs.stepper.min.js"></script>
		</footer>
	</body>
</html>