<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lieverandiver.thesisproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InputAttendance_Cardview" />
        <activity android:name=".SubjectViewActivity" />

        <activity android:name=".MainActivity2" android:launchMode="singleTask"/>
        <activity android:name=".ActivityInputActivity" android:launchMode="singleTask"/>
        <activity android:name=".ActivityResultActivity" android:launchMode="singleTask"/>
        <activity android:name=".AssignmentAddActivity" android:launchMode="singleTask"/>
        <activity android:name=".AssignmentInputActivity" android:launchMode="singleTask"/>
        <activity android:name=".AssignmentResultActivity" android:launchMode="singleTask"/>
        <activity android:name=".AttendanceAddActivity" android:launchMode="singleTask"/>
        <activity android:name=".AttendanceInputActivity" android:launchMode="singleTask"/>
        <activity android:name=".AttendanceResultViewActivity" android:launchMode="singleTask"/>
        <activity android:name=".ExamAddActivity" android:launchMode="singleTask" />
        <activity android:name=".ExamInputActivity" android:launchMode="singleTask"/>
        <activity android:name=".ExamResultActivity" android:launchMode="singleTask"/>
        <activity android:name=".ProjectAddActivity" android:launchMode="singleTask"/>
        <activity android:name=".ProjectInputActivity" android:launchMode="singleTask"/>
        <activity android:name=".ProjectResultActivity" android:launchMode="singleTask"/>
        <activity android:name=".QuizAddActivity" android:launchMode="singleTask"/>
        <activity android:name=".QuizInputActivity" android:launchMode="singleTask"/>
        <activity android:name=".QuizResultActivity" android:launchMode="singleTask"/>

        <activity android:name=".ActivityAddActivityF" android:launchMode="singleTask" />
        <activity android:name=".ActivityInputActivityF" android:launchMode="singleTask" />
        <activity android:name=".ActivityResultActivityF" android:launchMode="singleTask"/>

        <activity android:name=".AttendanceAddActivityF" android:launchMode="singleTask"/>
        <activity android:name=".AttendanceInputActivityF" android:launchMode="singleTask"/>
        <activity android:name=".AttendanceResultViewActivityF" android:launchMode="singleTask"/>


        <activity android:name=".AssignmentAddActivityF" android:launchMode="singleTask"/>
        <activity android:name=".AssignmentInputActivityF" android:launchMode="singleTask"/>
        <activity android:name=".AssignmentResultActivityF" android:launchMode="singleTask"/>

        <activity android:name=".ActivityGradeActivity" android:launchMode="singleTask" />
        <activity android:name=".ActivityGradeAssignment" android:launchMode="singleTask" />
        <activity android:name=".ActivityGradeAttendance" android:launchMode="singleTask"/>
        <activity android:name=".ActivityGradeExam" android:launchMode="singleTask"/>
        <activity android:name=".ActivityGradeProject" android:launchMode="singleTask"/>
        <activity android:name=".ActivityGradeQuiz" android:launchMode="singleTask"/>


        <activity android:name=".ExamAddActivityF" android:launchMode="singleTask"/>
        <activity android:name=".ExamInputActivityF" android:launchMode="singleTask"/>
        <activity android:name=".ExamResultActivityF" android:launchMode="singleTask"/>
        <activity android:name=".ProjectAddActivityF" android:launchMode="singleTask"/>
        <activity android:name=".ProjectInputActivityF" android:launchMode="singleTask"/>
        <activity android:name=".ProjectResultActivityF" android:launchMode="singleTask"/>
        <activity android:name=".QuizAddActivityF" android:launchMode="singleTask"/>
        <activity android:name=".QuizInputActivityF" android:launchMode="singleTask"/>
        <activity android:name=".QuizResultActivityF" android:launchMode="singleTask"/>


        <activity android:name=".Activity_Class_View_Assignment" android:launchMode="singleTask"/>
        <activity android:name=".Activity_Class_View_Exam" android:launchMode="singleTask"/>
        <activity android:name=".Activity_Class_View_Project" android:launchMode="singleTask"/>
        <activity android:name=".Activity_Class_View_Quiz" android:launchMode="singleTask"/>


        <activity android:name=".StudentViewActivity" android:launchMode="singleTask"/>
        <activity android:name=".ScheduleViewActivity" android:launchMode="singleTask"/>


        <activity android:name=".ClassViewActivity" android:launchMode="singleTask"/>
        <activity android:name=".GradingCriteriaActivity" android:launchMode="singleTask"/>
        <activity android:name=".QuizActivity_View" android:launchMode="singleTask"/>
        <activity android:name=".GradeViewActivity" android:launchMode="singleTask"/>
        <activity android:name=".QuizActivity_View_Record" android:launchMode="singleTask"/>
        <activity android:name=".CriteriaMidtermInputActivity" android:launchMode="singleTask"/>
        <activity android:name=".CriteriaFinaltermInputActivity" android:launchMode="singleTask"/>
        <activity android:name=".TeacherViewActivity" android:launchMode="singleTask"/>
        <activity android:name=".ActivityAddActivity" android:launchMode="singleTask"/>

        <activity android:name=".GradeResultActivity2" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>