<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>

<body class="">
    <div class="">
        <p>Login with Classify</p>
        <form class="" method="post" th:action="@{/login}">
            <div class="">
                <input type="text" placeholder="Username" name="username"/>
            </div>
            <div class="">
                <input type="password" placeholder="Password" name="password"/>
            </div>
            <div class="">
                <button class="">Login</button>
            </div>
        </form>
    </div>
</body>
</html>